<%= form_with(model: card_page, local: true) do |form| %>
  <% if card_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_page.errors.count, "error") %> prohibited this card_page from being saved:</h2>

      <ul>
      <% card_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :h1 %>
    <%= form.text_field :h1 %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :cards %>
    <%= form.text_field :cards %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
