<p id="notice"><%= notice %></p>

<h1>Card Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>H1</th>
      <th>Body</th>
      <th>Cards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_pages.each do |card_page| %>
      <tr>
        <td><%= card_page.title %></td>
        <td><%= card_page.h1 %></td>
        <td><%= card_page.body %></td>
        <td><%= card_page.cards %></td>
        <td><%= link_to 'Show', card_page %></td>
        <td><%= link_to 'Edit', edit_card_page_path(card_page) %></td>
        <td><%= link_to 'Destroy', card_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Page', new_card_page_path %>
